<h3>Recipe page for <%= @recipe.title %></h3>
<h5>Author: <%= User.find(@recipe.author_id).username %></h5>
<h5>Privacy: <%= @recipe.is_private ? "Private" : "Public" %></h5>
<h5>Style: <%= @recipe.style %></h5>
<h5>Ingredients would go here.....</h5>
<h5>Procedure: <%= @recipe.procedure %></h5>

<% if current_user && current_user.id == @recipe.author_id %>
  <form action="<% recipe_url(@recipe.id) %>" method="POST">
    <input type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <input type="hidden"
      name="_method"
      value="DELETE">
    <button>Delete Recipe</button>
  </form>
  <form action="<% edit_recipe_url(@recipe.id) %>" method="GET">
    <input type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <button>Edit Recipe</button>
  </form>
<% end %>
