<figure class="group" id="featured-recipe-wrapper">
  <ul id="featured-recipe-container" class="group">
    <% recipes.forEach(function(recipe){ %>
      <li class="featured-recipe">
        <img src="<%= recipe.escape("image_url")%>" class="featured-recipe-background">
        <section class="featured-recipe-text">
          <h1><a href="<%= recipe.apiUrlRoot + recipe.id %>"><%= recipe.escape('title') %></a></h1>
          <h2><%= recipe.escape('style') %></h2>
          <ul id="ingredients">
            <% recipe.recipeIngredients().forEach(function(recipeIngredient){ %>
              <li>
                <%= recipeIngredient.escape("ingredient_name") %>
              </li>
            <% }); %>
          </ul>
        </section>
      </li>
    <% }); %>
  </ul>
</figure>
<section class="button-container group">
  <button id="prev">Prev</button>
  <button id="next">Next</button>
</section>
