<li>
  <img src="<%= result.escape("thumb") %>">
  <a class="search-result-item" href="<%= result.apiUrlRoot + result.id %>">
    <%= result.constructor.modelType %>:
    <% if(result.constructor.modelType == "User"){ %>
      <%= result.escape("username") %>, (<%= result.escape("recipe_count") %> recipes)
    <% } else if(result.constructor.modelType == "Recipe"){ %>
      <%= result.escape("title") %>, (author: <%= result.escape("author_name") %>)
    <% } %>
  </a>

</li>
