<!DOCTYPE html>
<html>
<head>
  <title>BrewSocial</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
=======
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>BrewSocial</h1>
<% if signed_in? %>
  <form action="<%= session_url %>" method="POST">
    <input type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <input type="hidden"
      name="_method"
      value="DELETE">

    <button>Sign Out, <%= current_user.username %></button>
  </form>
<% end %>
>>>>>>> eb35ff629f43c1fc7226650914a9567f288f3440

<%= yield %>

</body>
</html>
